body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  /* background-color: black; */
}

.tab-content {
  display: none;
}


html,body {
  background-color: #fff;
  color: #222;
}

/* combine the top 2 css rules*/
/* html.dark-mode, body.dark-mode {
  background-color: #121212;
  color: #eee;
} */

html.dark-mode {
  background-color: purple;
  color: #eee;
}

body.dark-mode {
  background-color: purple;
  color: #eee;
}