body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.tab-content {
  display: none;
}

html,body {
  background-color: #fff;
  color: #222;
}

html.dark-mode, body.dark-mode {
  background-color: #121212;
  color: #eee;
} */

/* input boxes DARK MODE */
.input {
  background-color: #708090;
  
}

/* user entries DARK MODE */
.user-data-entry {
  background-color: #708090;
  color: white;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}        
#toast-container > .toast-warning:before {
  content: "\f003";
}
#toast-container > .toast-error:before {
  content: "\f001";
}
#toast-container > .toast-info:before {
  content: "\f005";
}
#toast-container > .toast-success:before {
  content: "\f002";
}
